nav {
  background-color: var(--theme-primary);
}

nav a {
  color: var(--white);
  width: fit-content;
}

nav img {
  width: 100px;
  height: 100%;
}

.inner-grid {
  display: flex;
  justify-content: space-between;
  min-height: 3em;
}

.navlinks {
  display: flex;
  align-items: center;
  gap: 50px;
}

.navlinks a[class*="btn"] {
  font-size: 0.85em;
}

.navlinks a:hover {
  color: var(--light-grey);
}

.active {
  color: var(--light-grey);
  text-decoration: underline;
  text-underline-offset: 5px;
}

@media only screen and (min-width: 1920px) {
  .inner-grid {
    --layout-grid-inner-width: 1770px;
  }
}

@media only screen and (max-width: 768px) {
  .navlinks {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
