/* Date Picker Overwrite */
.react-datepicker-wrapper {
  margin: 0;
}

.react-datepicker__month-container {
  background-color: var(--white);
}

.react-datepicker {
  font-family: "Montserrat" !important;
}

.react-datepicker__navigation {
  top: 15px !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  background-color: var(--theme-secondary) !important;
}

.react-datepicker__header {
  background-color: var(--theme-primary) !important;
}

.react-datepicker__header > h2 {
  color: var(--white) !important;
}

.react-datepicker__tab-loop {
  z-index: 5;
}

body .react-datepicker__close-icon {
  right: -20px;
}

body .react-datepicker__close-icon:after {
  background-color: var(--dark-beige);
  color: var(--black);
}
