.mainPage h2 {
  font-weight: 400;
  font-size: 2em;
  margin-block-end: 0.5em;
}

h2.quote {
  font-style: italic;
  margin-block-end: 0;
}

.mainPage section:not([class*="hero"]) {
  padding-block: 3em;
}

.bg-beige {
  background-color: var(--beige);
  text-align: center;
}

.bg-beige .inner-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bg-beige p {
  max-width: 800px;
}

.col-left {
  grid-column: span 6;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
}

.col-right {
  grid-column: span 6;
}

.dine h2 {
  margin-block-start: 2em;
}
