.roomListingFilter {
  margin-block-end: 2em;
  display: flex;
  gap: 20px;
}

.roomListingFilter label {
  font-weight: 500;
}

.roomListingFilter select {
  &,
  &::picker(select) {
    appearance: base-select;
  }

  border-radius: 0;
  height: 40px;
  cursor: pointer;
  margin-inline-start: 10px;
}

.roomListingFilter select::picker-icon {
  content: url("/arrow-down.png");
  position: relative;
  bottom: 3px;
}

.roomListingFilter option {
  height: 50px;
}

.roomListingFilter option::checkmark {
  display: none;
}

.roomListingFilter select:hover,
.roomListingFilter option:hover {
  background-color: var(--beige);
}

.roomListingFilter input {
  margin-inline-start: 10px;
  border: 1px solid var(--black);
  height: 40px;
  padding: 10px;
}

.roomListingFilter input:focus {
  background-color: var(--beige);
  outline: var(--dark-beige);
}

@media screen and (max-width: 768px) {
  .roomListingFilter {
    flex-wrap: wrap;
  }
}
