.roomCard {
  padding: 2em;
  display: grid;
  grid-template-columns: 5fr 3fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  box-shadow: var(--grey) 0 4px 10px 0;
}

.roomCard > * {
  max-height: 500px;
}

.roomCard > :nth-child(1) {
  grid-row: span 2;
}

.roomCard > :nth-child(2) {
  grid-row: span 2;
}

.roomCard > :nth-child(3) {
  grid-row: span 1;
}

.roomCard > :nth-child(4) {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
}

.roomCard img {
  width: 600px;
  height: 325px;
  object-fit: cover;
  max-height: 500px;
  max-width: 700px;
}

.roomCard ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-block-end: 30px;
}

.roomCard h3,
.roomCard p {
  margin-block-end: 1em;
}

.roomCard h3 {
  font-size: 1.5em;
}

.roomAmenities {
  border-block-end: 1px solid var(--grey);
  display: flex;
  flex-direction: column;
}

.roomAmenities > p {
  margin-block-start: auto;
}

.roomDetailsToggle {
  width: fit-content;
}

.roomCard .fee {
  font-weight: 600;
  font-size: 1.5em;
  margin-block-end: 0;
}

dialog.roomDetails {
  max-width: calc(
    var(--layout-grid-inner-width) -
      ((var(--layout-grid-inner-width) - var(--layout-grid-gap) * 11) / 12 * 2) -
      (var(--layout-grid-gap) * 2)
  );
  grid-column: 2 / 11;
  margin: auto;
  padding: 0;
  border: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

dialog.roomDetails::backdrop {
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

dialog.roomDetails form > img {
  aspect-ratio: 12 / 5;
}

dialog.roomDetails p {
  font-style: normal;
  text-align: left;
  line-height: 25px;

  margin-block-end: 1em;
  color: var(--theme-text);
}

dialog.roomDetails menu {
  position: absolute;
  right: 5px;
  top: 5px;
}

dialog.roomDetails button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

dialog.roomDetails menu button img {
  width: 25px;
  height: 25px;
}

.modalDetails {
  margin: 1em;
}

.modalDetails h2,
.modalDetails h3 {
  margin-block-end: 0.75em;
}

.modalDetails ul {
  list-style: circle;
  padding-inline-start: 1em;
}

@media screen and (max-width: 1024px) {
  .roomCard img {
    width: 400px;
    height: 200px;
  }
}

@media screen and (max-width: 768px) {
  .roomCard {
    display: flex;
    flex-direction: column;
  }
  .roomCard img {
    width: 200px;
    height: 100px;
  }
  .roomListingFilter {
    flex-direction: column;
  }
}
