.hero {
  height: calc(100vh - 56px);
  --hero-opacity: 0;
}

.hero > img {
  height: calc(100vh - 56px);
  object-fit: cover;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.inner-grid {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-grid img {
  max-width: var(--layout-grid-inner-width);
  width: 700px;
  opacity: 0;
  margin-block-end: 500px;
  transition: opacity 1s;
  display: block;
  z-index: 5;
}

.hero:after {
  content: "";
  background-color: black;
  width: 100%;
  height: calc(100% - 56px);
  display: block;
  position: absolute;
  top: 56px;
  opacity: var(--hero-opacity, 0.3);
  transition: opacity 0.5s ease-in;
}

@media screen and (max-width: 785px) {
  .inner-grid img {
    margin-block-end: 100px;
  }
}
