.orderBar {
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 0.75s ease-in;
}

.orderBar .inner-grid h2 {
  margin-block-end: 0;
}

.inner-grid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-grid > button,
.startDate,
.endDate,
.book {
  width: 15%;
  height: clamp(50px, calc(3.125rem + ((1vw - 7.68px) * 2.6042)), 80px);
  min-width: 180px;
  max-width: 300px;
  z-index: 5;
  cursor: pointer;
  background-color: var(--light-grey);
  transition: width 0.2s ease-in-out;
  white-space: pre-wrap;
}

.guest:not([class*="visible"]):hover,
.startDate:hover,
.endDate:hover,
.book:hover {
  opacity: 0.9;
  width: 15.5%;
}

.inner-grid > button,
.startDate,
.endDate {
  border-inline-end: 1px solid var(--black);
}

.book {
  background-color: var(--theme-secondary);
  color: var(--white);
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.datepicker-container {
  z-index: 999;
  position: relative;
}

.guest {
  position: relative;
}

.bubble {
  background-color: var(--white);
  border-radius: 5px;
  padding: 10px 18px;
  vertical-align: top;
  position: absolute;
  top: -195px;
  width: 200px;
  height: 180px;
  left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bubbleHead {
  width: 200px;
  height: 50px;
  background-color: var(--theme-primary);
  color: var(--white);
  margin-block-start: -10px;
  margin-inline: -18px;
  border-radius: 5px 5px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 1.5em;
}

.bubble::before {
  background-color: var(--white);
  content: "\00a0";
  display: block;
  height: 16px;
  width: 16px;
  position: absolute;
  bottom: -7.5px;
  left: 85px;
  transform: rotate(47deg) skew(5deg);
  -moz-transform: rotate(47deg) skew(5deg);
  -ms-transform: rotate(47deg) skew(5deg);
  -o-transform: rotate(47deg) skew(5deg);
  -webkit-transform: rotate(47deg) skew(5deg);
}

.bubble img {
  width: 20px;
  height: 20px;
}

.bubble img:hover {
  opacity: 0.5;
}

.bubble p > img:first-of-type {
  background-color: var(--white);
  display: inline-block;
  margin-inline-start: auto;
  margin-block-end: 2px;
}

.bubble p {
  margin-block-start: 10px;
  font-size: 18px;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 5px;
}

@media screen and (max-width: 785px) {
  .orderBar {
    display: none;
  }
}
