.preferenceBar {
  background-color: var(--light-beige);
  padding-block: 1em;
}

.inner-grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: space-around;
  justify-items: center;
}

.preferenceBar .inner-grid h2 {
  margin: 0;
}

.datePicker input {
  background: none;
  border: 0;
  padding: 0;
  font-size: 1em;
}
.datePicker {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.datePicker [class="react-datepicker-wrapper"] {
  display: none;
}

.inner-grid > *:not(:last-child) {
  transition: transform 0.2s ease-in;
  box-shadow: var(--dark-beige) 2px 0px 5px -3px;
  width: calc(100% - 5px);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inner-grid > *:not(:last-child):hover {
  cursor: pointer;
}

.guest {
  position: relative;
  background: none;
  cursor: pointer;
}

.guest ul {
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bubble {
  background-color: var(--white);
  border-radius: 5px;
  padding: 10px 18px;
  vertical-align: top;
  position: absolute;
  bottom: -164px;
  width: 200px;
  height: 220px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bubbleHead {
  width: 200px;
  height: 50px;
  background-color: var(--theme-primary);
  color: var(--white);
  margin-block-start: -10px;
  margin-inline: -18px;
  border-radius: 5px 5px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 1.5em;
}

.bubble::before {
  background-color: var(--white);
  content: "\00a0";
  display: block;
  height: 16px;
  width: 16px;
  position: absolute;
  bottom: -7.5px;
  left: 85px;
  transform: rotate(47deg) skew(5deg);
  -moz-transform: rotate(47deg) skew(5deg);
  -ms-transform: rotate(47deg) skew(5deg);
  -o-transform: rotate(47deg) skew(5deg);
  -webkit-transform: rotate(47deg) skew(5deg);
}

.bubble img {
  width: 20px;
  height: 20px;
}

.bubble img:hover {
  opacity: 0.5;
}

.bubble p > img:first-of-type {
  background-color: var(--white);
  display: inline-block;
  margin-inline-start: auto;
  margin-block-end: 2px;
}

.bubble p {
  margin-block-start: 10px;
  font-size: 18px;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 5px;
}
