# This is a basic workflow to help you get started with Actions

name: React Build Pipeline
run-name: React Build Pipeline

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch: 

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout frontend repo
        uses: actions/checkout@v4


      
      - name: "Configure AWS Credentials" 
        uses: aws-actions/configure-aws-credentials@v5.1.0

        with: 
          aws-access-key-id: ${{ secrets.ACCESS_KEY_P2 }} 

          aws-secret-access-key: $ {{ secrets.SECRET_ACCESS_KEY_P2 }}
          
          aws-region: us-east-1 
            
      

      
